/*estructura general*/

/*index y actividades*/

.cuerpo{
  padding-top: 100px;
  width: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
}

.grilla_nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "titulonosotros titulonosotros"
    "img_nosotros2 texto_nosotros2"
    "img_nosotros1 texto_nosotros1"
    "img_nosotros3 texto_nosotros3"; 
    background-color: $colorBackgroundNosotros ;

}

.titulonosotros{
    grid-area: titulonosotros;
    
}
.texto_nosotros2{
    grid-area: texto_nosotros2;
    width: 100%;
    color:$colorFrases;
    font-size: 110%;
    font-family: $estilo;
    margin-top: 8%;
    padding-right: 10%;
    padding-left: 5%;
    text-align: center;
    
}

.img_nosotros2{
    grid-area: img_nosotros2;
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    
}

.img_nosotros2:hover{
  transform: scale(1.1, 1.1);
}

.img_actividades{
  margin-top: 5%;
  margin-left: 15%;
  width: 60%;
}

.img_actividades:hover{
  transform: scale(1.1 , 1.1);
  
}

.texto_actividades{
  margin-top: 20%;
  margin-right: 25%;
  padding-right: 10%;
  @extend .texto_nosotros2;
  }
  


.lista_actividades{
  color: $colorFrases;
  font-family: $estilo;
  
}

.listaDos{
  margin-top: 20%;
}

.texto_nosotros1{
    @extend .texto_nosotros2;
    
    
}

.img_nosotros1{
    grid-area: img_nosotros1;
    @extend .img_nosotros2;
}

.texto_nosotros3{
    @extend .texto_nosotros2;
    
}

.img_nosotros3{
    grid-area: img_nosotros1;
    @extend .img_nosotros2;
}

/*fin index y actividades*/




/*anidaciones*/ 

header{
  
  h1{
    color:rgb(201, 138, 138);
    font-size: 80%;
    font-family: $estilo;
    font-size: 210%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
  
  h2{
    color:rgb(201, 138, 138);
    font-size: 80%;
    font-family: $estilo;
    font-size: 180%;
    text-align: center;
    
    
  }

  

  
}

.frasepresentacion{
  font-style: $estilo;
  color: $colorFrases;
  font-size: 110%; 
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.botonactividades{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: $colorBackgroundNosotros;
  font-style: $estilo;
  color: $colorFrases;
  margin-left: 42%;
  margin-bottom: 5%;
  
}





.bloque2{
    grid-area: bloque2;
 
}

.bloque3{
    grid-area: bloque3;

    
    
   
}



.btn-primary{
    margin-top: 1%;
}

.formulario{
    margin-top: 10%;
}


.fraseindex1{
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
    font-style: $estilo;
    color: $colorFrases;
    font-size: 110%;  
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.descripcionyoga{
    text-align: center;
    font-style: $estilo;
    color: $colorFrases;
    font-size: 100%;
    margin-left: 20%;
    margin-right: 20%;
    
}



/*galeria*/  

  .grillafotos{
    padding-left: 10%;
    background-color: $colorBackground;
    
  }
.piefotos{
    text-align: center;
    font-style: $estilo;
    color: $colorFrases;
}

.grillagaleria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  grid-template-areas: 
  "contenedor_img1 contenedor_img2 contenedor_img3"
  "contenedor_img4 contenedor_img5 contenedor_img6";
  padding: 5%;
  grid-gap: 10px;

}

.contenedor_img1{
  grid-area: contenedor_img1 ;
  width: 100%;
  height: 100%;
  
}
.contenedor_img2{
  grid-area: contenedor_img2 ;
  width: 100%;
  height: 100%;
  
}
.contenedor_img3{
  grid-area: contenedor_img3 ;
  width: 100%;
  height: 100%;
  
}
.contenedor_img4{
  grid-area: contenedor_img4 ;
  width: 100%;
  height: 100%;
  
}
.contenedor_img5{
  grid-area: contenedor_img5 ;
  width: 100%;
  height: 100%;
  
}
.contenedor_img6{
  grid-area: contenedor_img6 ;
  width: 100%;
  height: 100%;
  
}

.img_grilla1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_grilla2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.img_grilla3{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img_grilla4{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_grilla5{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_grilla6{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_grilla1:hover{
  transform: scale(1.03 , 1.03);
}

.img_grilla2:hover{
  transform: scale(1.03 , 1.03);
}

.img_grilla3:hover{
  transform: scale(1.03 , 1.03);
}

.img_grilla4:hover{
  transform: scale(1.03 , 1.03);
}

.img_grilla5:hover{
  transform: scale(1.03 , 1.03);
}

.img_grilla6:hover{
  transform: scale(1.03 , 1.03);
}




#carouselExampleCaptions{
   margin-left: 20%;
   height: 50%;
   width: 60%;
   margin-top: 1%;
   
   
    
}


.galeria1{
  height: 50%;
  width: 100%;
}


.titulogaleria{
    grid-area: texto_nosotros1;
    
}

/*contacto*/

.formulario{
    width: 50%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 8%;
}

.titulocontacto{
    grid-area: texto_nosotros1;
    
}

@mixin botones($bgColor , $colorLetra, $estilo){ 
  background-color: $bgColor;
  color: $colorLetra;
  font-family: $estilo;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: $estilo;
  
 
}


.btnEnviar{
  @include botones(rgb(185, 185, 224) , rgb(0, 0, 0) ,"sm");
  
}

.btnEnviar:hover{
  transform: scale(1.1 , 1.1);
  
}

.btnBorrar{
  @include botones(rgb(207, 95, 95), black ,"sm");
  @extend .btnEnviar;
}


/*horarios*/

.areatabla{
  display: flex;
  justify-content: center;
  width: 100%;

}
.tablaHorarios{
    border: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-spacing: 10px;
    border-collapse: separate;

    
    
    
}


.filas_columnas{
    color:rgb(201, 138, 138);
    font-family: $estilo;
    font-size: 120%;
}

td{
    font-family: $estilo;
    color: $colorFrases;
}





